//TYPOGRAPHY
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//COLORS
$accent: #6d5cae;
$black: #000;
$white: #fff;
$light-gray: #f5f8fa;
$ecit: #2b6a94;

$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;

//EVENT COLOR
$event-accent: $accent;
